<table border="0" width="100%">
  <tr>
    <td>
      <img src="assets/images/BowlingBanner.jpg" width="100%" height="300px">
    </td>
  </tr>
  <tr>
    <td align="center">
      <table>

        <tr >
          <td colspan="2">
            <h1><b>Bowling System Registration:</b></h1>
          </td>
        </tr>
        <tr>
          <td>
            First Name :
          </td>
          <td>
            <input type="text"  [(ngModel)]="userAccount.firstName"  placeholder="Enter first name here">
          </td>
        </tr>
        <tr>
          <td>
            Last Name :
          </td>
          <td>
            <input type="text"  [(ngModel)]="userAccount.lastName"  placeholder="Enter last name here">
          </td>
        </tr>
        <tr>
          <td>
            Birth Date :
          </td>
          <td>
            <input type="date"  [(ngModel)]="userAccount.birthDate"  placeholder="Enter birth date here">
          </td>
        </tr>
        <tr>
          <td>
            Email :
          </td>
          <td>
            <input type="text" [(ngModel)]="userAccount.email" placeholder="Enter email here">
          </td>
        </tr>
        <tr>
          <td>
            Phone Number :
          </td>
          <td>
            <input type="text" [(ngModel)]="userAccount.phoneNumber" placeholder="Enter phone number here">
          </td>
        </tr>
        <tr>
          <td>
            UserId :
          </td>
          <td>
            <input type="text"  [(ngModel)]="userAccount.userId"  placeholder="Enter userid here">
          </td>
        </tr>
        <tr>
          <td>
            Password :
          </td>
          <td>
            <input type="password"[(ngModel)]="userAccount.password" placeholder="Enter password here">
          </td>
        </tr>
        <tr>
          <td align="center"  colspan="2">
            <button (click)="submit()" type="button">Submit</button>

            <button (click)="clear()" type="button">Clear</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
